@page "/dashboard"
@layout Layout;

<div class="input-group center">
    <div class="form-outline">
        <input type="search" id="form1" class="form-control" size="70" />
    </div>
    <button type="button" class="btn btn-primary">
        Search
    </button>
</div>
<form class="" style="background-color:#E6E6FA">
    <label for="fname">Thông tin bệnh nhân</label><br>
    <div>
        <div class="row">
            <div class="col-5 ">
                <table>
                    <tr>
                        <th></th>
                        <th></th>
                        <th colspan="2"></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>HSBA</td>
                        <td style='width:100%'>
                            <input type="text" id="fname" name="fname" style='width:85%'>
                            <input type="text" id="fname" name="fname" style='width:10%'>
                        </td>
                     </tr>
                     <tr>
                        <td>Hoten</td>
                        <td style='width:100%'>
                            <input type="text" id="fname" name="fname" style='width:85%'>
                            <input type="text" id="fname" name="fname" style='width:10%'>
                        </td>
                      </tr>
                      <tr>
                        <td>NSinh</td>
                        <td style='width:100%'>
                            <input type="text" id="fname" name="fname" style='width:85%'>
                            <input type="text" id="fname" name="fname" style='width:10%'>
                        </td>
                      </tr>
                      <tr>
                        <td>NVao</td>
                        <td style='width:100%'><input type="text" id="fname" name="fname" style='width:96%'></td>
                      </tr>
                </table>
            </div>
            <div class="col-5 ">
                <table>
                    <tr>
                        <td>BHYT</td>
                        <td colspan="2" style='width:100%'>
                            <input type="text" id="fname" name="fname" style='width:75%'>
                            <input type="text" id="fname" name="fname" style='width:10%'>
                            <input type="text" id="fname" name="fname" style='width:10%'>
                        </td>
                    </tr>
                    <tr>
                        <td>Từ</td>
                        <td style='width:50%'>
                            <input type="text" id="fname" name="fname" style='width:100%'>
                        </td>
                        <td>
                            Đến
                            <input type="text" id="fname" name="fname" style='width:78%'>
                        </td>
                    </tr>
                    <tr>
                        <td>Khoa</td>
                        <td style='width:50%'>
                            <input type="text" id="fname" name="fname" style='width:100%'>
                         </td>
                        <td>
                            VT<input type="text" id="fname" name="fname" style='width:83%'>
                        </td>
                    </tr>
                    <tr>
                        <td style='width:10%'>Liên hệ</td>
                        <td colspan="2" style='width:100%'><input type="text" id="fname" name="fname" style='width:96%'></td>
                    </tr>
                </table>
            </div>
            <div class="col-auto bg-primary ms-4" style="width:130px; height:130px">
                <div class="bg-light">
                    
                </div>
            </div>
        </div>

    </div>
</form>
<div>
    <nav >
        <ul class="menu__list r-list">
            <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Option #1</a></li>
            <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Option #2</a></li>
            <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Option #3</a></li>
        </ul>
    </nav>
</div>

