@inherits LayoutComponentBase
<div class="full-height">
<div class="page">
    <main>
        <article class="content px-4">
            <div class="page">
                <main>
                    <article class="content px-4 full-height">
                        @Body
                    </article>
                </main>
            </div>
        </article>
    </main>
</div>
</div>